<div class="container">
    <div class="row" id="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="panel-group" id="accordion">


                <div class="panel panel-default">
                    <div class="panel-heading"  style = "background: #d58512;">
                    <h4 class="panel-title">
                        <a   ng-click="showing()"><span class="glyphicon glyphicon-dashboard">
                        </span><strong>Noticias    {{current.title}}</strong></a>
                    </h4>
                </div>
                <div class = "panel panel-collapse" id="collapseAll"  ng-show = "show">
                <div class="panel panel-default" ng-repeat = "n in news">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a name = "{{n.id}}" ng-click="selectNews($event)"><span class="glyphicon glyphicon-asterisk">
                        </span>{{n.title}}</a>
                        </h4>
                    </div>
                    <div id="collapseID" class="panel-default" ng-show="n.selected">
                        <div class="panel-collapse" style=" display: flex; justify-content:center; width: 100%;">
                           <div class="img-rounded" style =" margin: 2px;  ">
                               <img src = "{{n.image}}" alt = "{{n.id}}" style =" border-radius: 20px; width: 90%; "/>
                           </div>
                            <div class="text-info" style ="display: flex;
                                    justify-content: center;
                                    align-content: center;
                                    flex-direction: column;
                                    text-align: center; width: 50%;">
                               <strong>{{n.title}}</strong>
                                <br>
                                <span>{{n.content}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                    </div>
            </div>
        </div>

    </div>
</div>